version: '3.8'
name: tehik

services:
  rabbitmq:
    image: rabbitmq:latest
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}
    configs:
      - source: rabbitmq-plugins
        target: /etc/rabbitmq/enabled_plugins
    volumes:
      - rabbitmq-lib:/var/lib/rabbitmq/
      - rabbitmq-log:/var/log/rabbitmq
    ports:
      - "${RABBITMQ_PORT}:5672"
      - "${RABBITMQ_MANAGE_PORT}:15672"
    networks:
      - tehik-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "check_running"]
      interval: 5s
      timeout: 10s
      retries: 10
      start_period: 30s


  api:
    build:
      context: ./tehik-api
      dockerfile: Dockerfile.api
    container_name: tehik-api
    ports:
      - "${API_PORT}:8080"
    environment:
      SPRING_APPLICATION_NAME: ${SPRING_APPLICATION_NAME}
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
      SPRING_WEB_CORS_ALLOWED_ORIGINS: ${SPRING_WEB_CORS_ALLOWED_ORIGINS}

      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_DRIVERCLASSNAME: ${SPRING_DATASOURCE_DRIVERCLASSNAME}
      SPRING_H2_CONSOLE_ENABLED: ${SPRING_H2_CONSOLE_ENABLED}
      SPRING_H2_CONSOLE_PATH: ${SPRING_H2_CONSOLE_PATH}
      SPRING_DATASOURCE_USERNAME: ${DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASS}
      SPRING_JPA_HIBERNATE_DDL_AUTO: ${SPRING_JPA_HIBERNATE_DDL_AUTO}

      MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE: ${MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE}
      MANAGEMENT_ENDPOINT_HEALTH_SHOW_DETAILS: ${MANAGEMENT_ENDPOINT_HEALTH_SHOW_DETAILS}

      SPRING_RABBITMQ_HOST: ${SPRING_RABBITMQ_HOST}
      SPRING_RABBITMQ_PORT: ${SPRING_RABBITMQ_PORT}
      SPRING_RABBITMQ_USERNAME: ${RABBITMQ_USER}
      SPRING_RABBITMQ_PASSWORD: ${RABBITMQ_PASS}
      APP_RABBITMQ_EXCHANGE: ${APP_RABBITMQ_EXCHANGE}
      APP_RABBITMQ_QUEUE: ${APP_RABBITMQ_QUEUE}
      APP_RABBITMQ_ROUTING_KEY: ${APP_RABBITMQ_ROUTING_KEY}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 30s
      timeout: 10s
      retries: 10
      start_period: 90s
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - tehik-network
    restart: unless-stopped

  web:
    build:
      context: ./tehik-front
      dockerfile: Dockerfile.web
      args:
        NG_APP_API_URL: "http://api:${API_PORT}/api/v1"
    container_name: tehik-frontend
    ports:
      - "${WEB_PORT}:80"
    networks:
      - tehik-network
    restart: unless-stopped
    depends_on:
      - api

configs:
  rabbitmq-plugins: 
    file: ./rabbitmq_plugins.conf
    
volumes:
  rabbitmq-lib:
    driver: local
  rabbitmq-log:
    driver: local

networks:
  tehik-network:
    driver: bridge